@font-face {
    font-family: Graphik Medium;
    src: url("/fonts/Graphik-Font-Family/GraphikMedium.otf");
  }

  @font-face {
    font-family: Graphik Regular;
    src: url("/fonts/Graphik-Font-Family/GraphikRegular.otf");
  }

  body {
    font-family: "Graphik Regular";
  }

  #container {
    height: 600px;
    width: 99.99%;
    margin: auto;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(246, 252, 255);
  }
  #stock {
    height: 400px;
    width: 450px;

    margin-left: 100px;
    /* margin-top: 100px; */
  }
  #a1 {
    height: 100px;
    /* width: 400px; */

    font-size: 55px;
    line-height: 45px;
  }
  #a2 {
    height: 60px;
    width: 440px;

    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  #btn2 {
    height: 50px;
    width: 450px;
    display: inline-block;
  }
  #btn21 {
    height: 40px;
    width: 200px;
    background-color: blue;
    color: white;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid blue;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
  }
  #btn22 {
    height: 40px;
    width: 150px;
    display: inline-block;
    border: 1px solid rgb(173, 221, 245);
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    background-color: white;
  }
  #a3 {
    height: 30px;
    width: 400px;

    padding-top: 20px;
    font-size: 18px;
  }
  #a4 {
    display: inline-block;
    height: 50px;
    width: 400px;
  }
  .a41 {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    margin-left: 10px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20px 20px;
  }
  #container2 {
    height: 800px;
    width: 99.9%;

    background-color: white;
    display: inline-block;
  }
  #b1 {
    height: 95%;
    width: 45%;

    display: inline-block;
    vertical-align: top;
  }
  #b2 {
    height: 95%;
    width: 54%;

    display: inline-block;
  }
  #b11 {
    height: 10%;
    /* width: 450px; */

    margin-top: 80px;
    margin-left: 80px;
    font-size: 37px;
    line-height: 1.1;
  }
  #b12 {
    height: 8%;
    width: 450px;

    margin-top: 30px;
    margin-left: 80px;
    font-size: 20px;
    line-height: 1.4;
  }
  #b13 {
    height: 35%;
    width: 450px;

    margin-top: 30px;
    margin-left: 80px;
  }
  #b14 {
    height: 10%;
    width: 450px;

    margin-top: 30px;
    margin-left: 80px;
    display: inline-block;
  }
  #b141 {
    height: 99%;
    width: 25%;

    display: inline-block;
    vertical-align: top;
  }
  #b142 {
    height: 99%;
    width: 70%;

    display: inline-block;
  }
  .b21 {
    height: 19%;
    width: 550px;
    margin-left: 70px;
    margin-top: 80px;

    display: inline-block;
  }
  #text1 {
    height: 30px;
    width: 99%;

    padding-top: 5px;
    padding-left: 10px;
  }
  #text2 {
    height: 33px;
    width: 99%;

    padding-top: 7px;
    padding-left: 10px;
  }
  #container3 {
    height: 600px;
    width: 99%;

    background-color: rgb(249, 250, 251);
  }
  #c {
    height: 295px;
    width: 99%;
  }
  #c1 {
    height: 40px;
    width: 70%;
    margin: auto;

    margin-top: 50px;
    text-align: center;
    font-size: 18px;
  }
  #c2 {
    height: 60px;
    width: 70%;
    margin: auto;

    text-align: center;
    font-size: 35px;
  }
  #c3 {
    height: 80px;
    width: 70%;
    margin: auto;

    text-align: center;
    font-size: 20px;
  }
  #c4 {
    display: flex;
    height: 295px;
    width: 99%;

    margin: auto;
  }
  .c41 {
    height: 80%;
    width: 20%;

    margin: auto;
    background-color: white;
  }

  #img2 {
    width: 450px;
    height: 267px;
  }
  #img1 {
    width: 115px;
    height: 75px;
  }
  a {
    text-decoration: none;
    color: blue;
  }
  .pic1 {
    display: inline-block;
    width: 40%;
    height: 100%;
  }
  .t1 {
    display: inline-block;
    width: 58%;
    height: 100%;

    vertical-align: top;
  }
  .t11 {
    height: 35%;
    width: 99%;

    padding-top: 17px;
    font-size: 27px;
  }
  .t12 {
    height: 63%;
    width: 99%;

    padding-top: 5px;
    font-size: 18px;
    line-height: 25px;
  }
  .p1 {
    height: 99%;
    width: 99%;
  }
  .c4pic1 {
    height: 35%;
    width: 50%;

    margin-left: 20px;
  }
  .c4text1 {
    height: 65%;
    width: 100%;

    margin-left: 20px;
    padding-top: 30px;
    font-size: 16px;
  }
  #c4pic13 {
    height: 80px;
    width: 90px;
  }

  .navbar-active {
    border-bottom-color: black;
  }
  .big_boss{
width:80%;
height:750px;
border:2px solid transparent;
margin:auto;
margin-top: 10%;


}
.bigboss_p{
font-size: 20px;
}
.bigboss_asst{
display:flex;
}
.bigboss_title{
width:45%;
height:24%;
border:2px solid transparent;  
margin-left: 5%; 

}
.bigboss_p{
font-size: 20px;

}
.display{
font-size: 40px;
}
.bigboss_part1{
width:40%;
height:100%;
border:4px solid transparent;
margin-left: 20px;
}
.bigboss_part1>div{
width:100%;
height:25%;
border:1px solid transparent;
display:flex;

}
#icon1{
width:50px;
height:50px;
padding:10px 20px;
margin-top: 10px;
}
#bigboss_wildcard_entry{
width:30%;
height:550px;
border:5px solid transparent;
margin:auto;
background-image: url(https://www.smallcase.com/static/images/svg/phone.svg);
background-repeat: no-repeat;
background-size: auto;
}
.bigboss_asst{
display:flex;
}
#mobile{
margin-top: 0px;
width:90%;
height:100%;
margin:auto;
position:relative;
border-radius:10px;


}
#mobile_video{
margin-top:10%;
width:80%;
height:100%;
margin-left:15%;
border-radius: 10px;

}
#Thor{
       width:100%;
       height:700px;
       border:5px solid transparent;
       margin:auto;
       margin-top: 10%;
       margin-left: 5%;
   }
   .Thors_title_p{
       font-size: 20px;
       color:grey;
       text-align: center;
   }
   .Icon_Div{
       display:flex;
       margin-left:0px;
   }
   .Asst_Thor2{
       width:90%;
       height:500px;
       border:2px solid transparent;
      
       display:flex;
       background-color: rgb(41, 154, 247);

    }
    .Asst_Thor2>div{
        width:50%;
        height:100%;
        border:1px solid transparent;
    }
    .Thor_Asst_h2{
       font-size: 25px;
       text-align: center;
       
     
   }
   .Thor_Asst_p{
    font-size:18px;
    /* text-align: ; */
   text-align: center;
   }

   
   .left_image_thor{
       width:10%;
       height:30%;
       margin-left: 0px;
       margin-top:0;

   }
  
   .Thor_bank_accounts{
       width:99%;
       height:50%;
       border:2px solid transparent;
       display:grid;
       grid-template-columns: repeat(3,1fr);
   }
   .Thor_Div2_a_tag{
       width:80px;
       height:25px;
       display:grid;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: repeat(2,1fr);
       background-color: white;
       padding:10px
   }
   .Thor_bank_accounts>figure{
       width:20px;
       height:20px;
       
   }
   .See_All_Brokers{
       padding:10px;
       margin-left:38%;
       background-color: white;
       border:1px solid white;
       color:rgb(62, 140, 241);
       cursor: pointer;
       border-radius: 10px;
   }
   
   body{
        font-family:"Graphik Web Semibold", sans-serif;
    }
    .Hulk{
        width:80%;
        height:500px;
        border:5px solid transparent;
        margin: auto;
        display:flex;
        margin-top: 10%;

    }
    .Hulk>div{
        width:45%;
        height:95%;
        border:5px solid transparent;
        margin:auto;
    }
    .Hulk_h2{
        font-size: 40px;
    }
    .Hulk_p{
        font-size: 20px;
        color:grey
    }
    .Kick1{
        border:none;
        text-decoration: none;
        padding:15px 20px;
        background-color: rgb(10, 171, 240);
        color:white;
        border-radius: 10px;

    }
    .Hulk_Div1{
        height:80%;

    }
    .Kick2{
        border:1px solid rgb(226, 225, 225);
        text-decoration: none;
        padding:15px 20px;
        background-color: white;
        color:rgb(10, 171, 240);
        border-radius: 10px;
    }
    #kick_div{
        justify-content: space-between;
        margin-left:13%;
        margin-top:10%;
    }
    .Hulk_Video{
        width:100%;
        height:100%;
    }


    .dropbtn1 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn1:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown1 {
position: relative;
display: inline-block;
background-color: white;
}

.dropdown1-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown1-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
background-color: white;
}
/* .footer_main {
width:80%;
height:600px;
border:4px solid red;
margin:auto;


} */
.footer_top_div{
width:80%;
height:600px;
border:4px solid transparent;
margin:auto;
display:flex;
}
.footer_top_div>div{
width:33%;
height:60%;
border:1px solid transparent;
margin:1%;
}
#footer_title{
font-size: 40px;
text-align: center;
margin-top: 10%;
}
.dropbtn2 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn2:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown2 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown2-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
line-height: 3ch;
z-index: 1;
}

.dropdown2-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown2 a:hover {background-color: #ddd;}

.dropdown1 a:hover {background-color: #ddd;}
.dropbtn3 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn3:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown3 {
position: relative;
display: inline-block;
}

.dropdown3-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
line-height: 3ch;
z-index: 1;
}

.dropdown3-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
background-color: #f1f1f1;
}
.dropdown3 a:hover {background-color: #ddd;}
.dropbtn4 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn4:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown4 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown4-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown4-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown4 a:hover {background-color: #ddd;}
.dropbtn5 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn5:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown5 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown5-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown5-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown5 a:hover {background-color: #ddd;}
.dropbtn6 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn6:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown4 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown6-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown6-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown6 a:hover {background-color: #ddd;}
.dropbtn7 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn7:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown7 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown7-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown7-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown7 a:hover {background-color: #ddd;}
.dropbtn8 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn8:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown8 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown8-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown8-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown8 a:hover {background-color: #ddd;}
.dropbtn9 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn9:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown9 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown9-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown9-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown9 a:hover {background-color: #ddd;}
.dropbtn10 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn10:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown10 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown10-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown10-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown10 a:hover {background-color: #ddd;}
.dropbtn11 {
background-color: white;
color: black;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn11:hover, .dropbtn:focus {
color: #2980B9;
}

.dropdown11 {
position: relative;
display: inline-block;
background-color: #f1f1f1;
}

.dropdown11-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 330px;
overflow: auto;
z-index: 1;
line-height: 3ch;
}

.dropdown11-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown11 a:hover {background-color: #ddd;}

.show {display: block;}